
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(90deg,#0a0a0a,rgba(44, 44, 43, 0.582));
}

.container{
    height: 300px;
    width: 300px;
    background: transparent;
    position: relative;

}

.caluclator{
    padding: 10px;
    border: 1px solid #bebdbd;
    border-radius: 16px;
    box-shadow: 0px 3px 15px rgba(236, 245, 202, 0.5);
}

input{
    width: 100%;
    border: none;
    padding: 24px;
    margin: 10px;
    background:transparent ;
    box-shadow: 0px 3px 15px rgb(84,84,84,0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    }

input::placeholder{
    color: rgb(255, 255, 255);
}

button{
    border: none;
    width: 40px;
    height: 40px;
    margin: 12px;
    border-radius: 50%;
    background: transparent;
    color: aliceblue;
    font-size: large;
    box-shadow: -8px -8px 15px rgb(255, 255, 255,0.1);
    
}

button:hover{
    background-color: rgb(215, 223, 220);
    color: #0a0a0a;
}
.eq-btn{
    background-color: orange;
}

.op-btn{
    color: rgb(119, 235, 119);
}
