.Caluclator{
    height: 300px;
    width: 200px;
    display: flex;
    background-color: rgb(144, 144, 153);
    box-shadow: rgb(82, 150, 150);
    border-radius: 20px;
    border-color: black;
    border: 1px;
}

.head{
    padding-left: 10px;
    color: rgb(218, 227, 236);
    justify-content: center;

}
.screen{
    position: relative;
    border: 2cap;
    height: 100px;
    width: 200px;
    background-color: azure;
    margin-top: 15px;
    border-radius: 10px;
}